.app-badge-img {
  width:33px;
  height:40px;
}

.app-table-row {
  color: #444444;
  font-size: 15px;
  min-height: 65px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.66);
}

.app-link-img {
  width:21px;
  height:21px;
}

.app-main-header-title {
  color: #FFFFFF;
  font-size: 64px;
  padding: 40px;
}

.app-outer-launch-container {
  width: 956px;
}

.app-page-container {
  background: url(../assets/background.jpg) fixed;
  padding: 20px;
}

.app-refresh-button {
  width:72px;
  height:73px;
  background: url(../assets/refresh-button.png);
  border: 0;
  background-size: 100%; /* To fill the dimensions of container (button), or */
  background-size: 72px auto; /* to specify dimensions explicitly */
}

.app-table-toolbar {
  max-height: 77px;
  color: #FFFFFF;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.07);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.66);
  padding-right: 10px;
}

.app-table-header {
  font-size: 17px;
  min-height: 49px;
  color: #043D67;
  background-color: rgba(255, 255, 255, 1.0);
  margin-bottom: 10px;
  padding: 20px;
}


.app-checkmark {

}
