<form #formElement="ngForm">
  <div fxFill class="app-page-container">

    <div fxLayoutAlign="center center">
      <div fxLayout="column"
           fxLayoutAlign="center center">

        <span class="app-main-header-title">SpaceX Launches</span>

        <div class="container app-outer-launch-container"
             fxLayout="column">


          <div class="app-table-toolbar"
               fxLayout="row"
               fxFlex="fill">
            <div fxLayout="row"
                 fxFlex="fill"
                 fxFlexAlign="start">
              <button class="app-refresh-button"
                      fxFlexAlign="start"
                      (click)="refreshQuery()">
              </button>
            </div>

            <div fxLayout="column" fxFlex="fill" fxFlexAlign="center">
              <div fxLayout="row" fxFlexAlign="end" fxLayoutGap="20px">

                <div fxFlex="auto">
                  <div class="pretty p-svg p-bigger">
                    <input name="landed" [(ngModel)]="filter.landed" type="checkbox"/>
                    <div class="state">
                      <img class="svg" src="../assets/checkmark.svg">
                      <label>LANDED</label>
                    </div>
                  </div>
                </div>

                <div fxFlex="auto">
                  <div class="pretty p-svg p-bigger">
                    <input name="reused" [(ngModel)]="filter.reused" type="checkbox"/>
                    <div class="state">
                      <img class="svg" src="../assets/checkmark.svg">
                      <label>REUSED</label>
                    </div>
                  </div>
                </div>

                <div fxFlex="auto">
                  <div class="pretty p-svg p-bigger">
                    <input name="reddit" [(ngModel)]="filter.reddit" type="checkbox"/>
                    <div class="state">
                      <img class="svg" src="../assets/checkmark.svg">
                      <label>WITH REDDIT</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="app-table-header"
               fxLayout="row"
               fxLayoutGap="15px"
               fxLayoutAlign="start center"
               fxFlex="fill">

            <div fxFlex="6">Badge</div>
            <div fxFlex="10">Rocket</div>
            <div fxFlex="12">Rocket Type</div>
            <div fxFlex="10">Launch Date</div>
            <div fxFlex="50">Details</div>
            <div fxFlex="5">ID</div>
            <div fxFlex="5">Article</div>
          </div>
          <div fxLayout="column"
               fxLayoutGap="10px">

            <div class="app-table-row"
                 fxLayout="row"
                 fxLayoutGap="15px"
                 fxLayoutAlign="start center"
                 [@fadeIn]="'in'"
                 *ngFor="let launch of (launches$ | async)">

              <div fxFlex="6">
                <img class="app-badge-img"
                     defaultImage="assets/placeholder.png"
                     lazyLoad="{{launch.badgeUrl}}">
              </div>
              <div fxFlex="10">{{launch.rocketName}}</div>
              <div fxFlex="12">{{launch.rocketType}}</div>
              <div fxFlex="10">{{launch.launchDate |  date:'M/d/y'}}</div>
              <div fxFlex="50">{{launch.launchDetails}}</div>
              <div fxFlex="5">{{launch.id}}</div>
              <div fxFlex="5">
                <a *ngIf="launch.articleUrl" href="{{launch.articleUrl}}" target="_blank">
                  <img class="app-link-img" src="assets/link.png">
                </a>
              </div>

            </div>
          </div>


        </div>

      </div>
    </div>

  </div>
</form>
