<form #formElement="ngForm">
  <div fxLayoutAlign="center center">
    <div fxLayout="column"
         fxLayoutAlign="center center">

      <div>Space X Launches</div>

      <div class="container app-outer-launch-container"
           fxLayout="column">

        <div fxLayout="row" fxFlexAlign="end">
          <div fxLayout="row" fxFlex="fill">

            <div fxFlex="auto">
              <input name="landed" [(ngModel)]="filter.landed" type="checkbox"/>
              LAND
            </div>

            <div fxFlex="auto">
              <input name="reused" [(ngModel)]="filter.reused" type="checkbox"/>
              REUSED
            </div>

            <div fxFlex="auto">
              <input name="reddit" [(ngModel)]="filter.reddit" type="checkbox"/>
              WITH REDDIT
            </div>

          </div>

        </div>
        <div fxLayout="row"
             fxFlex="fill">

          <div fxFlex="5">Badge</div>
          <div fxFlex="10">Rocket Name</div>
          <div fxFlex="10">Rocket Type</div>
          <div fxFlex="10">Launch Date</div>
          <div fxFlex="55">Details</div>
          <div fxFlex="5">ID</div>
          <div fxFlex="5">Article</div>
        </div>
        <div class="app-launch-row" *ngFor="let launch of (launches$ | async)"
             fxLayout="row">

          <div fxFlex="5">
            <img class="app-badge-img" src="{{launch.badgeUrl}}">
          </div>
          <div fxFlex="10">{{launch.rocketName}}</div>
          <div fxFlex="10">{{launch.rocketType}}</div>
          <div fxFlex="10">{{launch.launchDate |  date:'M/d/y'}}</div>
          <div fxFlex="55">{{launch.launchDetails}}</div>
          <div fxFlex="5">{{launch.id}}</div>
          <div fxFlex="5">
            <a *ngIf="launch.articleUrl" href="{{launch.articleUrl}}" target="_blank">
              <img class="app-link-img" src="assets/link.png">
            </a>
          </div>

        </div>


      </div>

    </div>
  </div>
</form>
