/* You can add global styles to this file, and also import other style files */

// https://lokesh-coder.github.io/pretty-checkbox/
@import '~pretty-checkbox/src/pretty-checkbox.scss';

@font-face {
  font-family: geomanist;
  src: url(assets/fonts/geomanist-regular-webfont.ttf);
}

html {
  font-family: geomanist;
}

body {
  margin: 0;
}
