/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: geomanist;
  src: url(assets/fonts/geomanist-regular-webfont.ttf);
}

html {
  font-family: geomanist;
}

body {
  margin: 0;
}
